<ul class="comment">
    {% for comment in comments %}
        <li class="comment">
            <div class="comment-thumbnail">
                <a href="{{ url_for('.user', username=comment.author.username) }}">
                    <img src="{{ comment.author.gravatar(size=40) }}">
                </a>
            </div>
            <div class="comment-date">
                {{ moment(comment.timestamp).format('L') }}
            </div>
            <div class="comment-author">
                <a href="{{ url_for('.user', username=comment.author.username) }}">
                    {{ comment.author.username }}
                </a>
            </div>
            <div class="comment-body">
                {% if comment.disabled %}
                    This comment has been disabled by a moderator
                {% endif %}
                {% if moderate or not comment.disabled%}
                    {% if comment.html_body %}
                        <p>{{ comment.html_body }}</p>
                    {% else %}
                        <p>{{ comment.body }}</p>
                    {% endif %}
                {% endif %}
            </div>
            <div class="comment-footer">
                {% if moderate%}
                    {% if comment.disabled %}
                    <a href="{{ url_for('.changecomment', id=comment.id) }}" class="btn btn-default btn-xs">
                        enabled
                    </a>
                    {% else %}
                    <a href="{{ url_for('.changecomment', id=comment.id) }}" class="btn btn-danger btn-xs">
                        disabled
                    </a>
                    {% endif %}
                {% endif %}
            </div>
        </li>
    {% endfor %}
</ul>