{% extends 'base.jinja' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% import "_macros.jinja" as macros%}

{% block title %}Flasky - Edit Post{% endblock %}

{% block pagecontent %}
    <div class="page-header">
        <h1>Edit Post</h1>
    </div>
    <div>
        {{ wtf.quick_form(form) }}
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ pagedown.include_pagedown() }}
{% endblock %}