{% extends 'base.jinja' %}
{% import '_macros.jinja' as macros%}
{% import 'bootstrap/wtf.html' as wtf%}

{% block title %}Flasky - Post{% endblock %}

{% block pagecontent %}
    {% include '_posts.jinja' %}
    {% if current_user.can(Permission.COMMENT)%}
    {{ wtf.quick_form(form) }}
    {% endif %}
    <div id="comment">
    {% include '_comments.jinja'  %}
    {{ macros.pagination_widget(pagination, endpoint, id=id, fragement=comment) }}
    </div>
{% endblock %}